# Laravel & PHP
/vendor/
.env
.env.*
.phpunit.result.cache
.phpunit.cache
Homestead.*
storage/
storage/logs/*
storage/framework/*
!storage/framework/.gitignore
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore

# Node.js / Frontend Build
/node_modules/
npm-debug.log
yarn-error.log

# IDEs / Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# Logs & Locks
*.log
*.lock
package-lock.json

# Test & Coverage
/coverage/

# Public assets - media, user content
# (Keep default images, ignore everything else)
/public/images/*
!/public/images/plates
/public/dumps/*
/public/mod/
!/public/mod/index.php
