// Applications
.applications{
    display: flex;
    justify-content: center;
    .card{
        width: 320px;
        &:not(.new){
            span, p, label, h1, h2, h3, h4, h5, h6, a, small{
                color: $primary-text-darker;
            }
            a:hover, i.active{
                color: $primary-text;
            }
        }
        & .referral{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
        & .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
            b{
                white-space: nowrap;
            }
        }
        &.new .card-text b{
            color: $primary;
        }
        i{
            font-size: 25px;
            width: 29px;
            text-align: center;
            &.active{
                color: $primary;
            }
        }
    }
}
