// Cards
.card{
    &.card-dark{
        background-color: $background;
        border-color: $background-lighten-2;
    }
    .card-actions{
        padding: 1.25rem;
    }
}
.card{
    [data-toggle="collapse"]{
        cursor: pointer;
    }
}
