// Convoys
.convoy-title{
    color: $primary;
}
.convoy-info{
    li{
        flex-wrap: nowrap;
        p{
            margin-bottom: 0;
        }
        i{
            text-align: center;
        }
    }
    h2, h3, h4{
        color: $primary;
    }
}
.convoy-icon{
    border-left: 1px solid $primary-text;
    i{
        font-size: 40px;
        color: $primary;
        width: 45px;
    }
}

.route{
    img{
        max-width: 100%;
    }
}
.convoy-note{
    hr{
        width: 150px;
        border-top: 1px solid $primary;
    }
    p{
        font-style: italic;
    }
    ol, ul{
        li{
            color: $primary-text;
            margin-top: 10px;
            b{
                color: $primary;
            }
        }
    }
}
@media (max-width: 768px) {
    .ts-download{
        margin: 1rem 0;
    }
}

// Admin convoys
.convoys{
    .card{
        &.upcoming .convoy-date{
            color: $primary;
        }
        &:not(.upcoming){
            span, p, label, h1, h2, h3, h4, h5, h6, a, small{
                color: $primary-text-darker;
            }
            a:hover, i.active{
                color: $primary-text;
            }
        }
        a:not(.btn){
            text-decoration: underline;
        }
    }
}
.private-convoys{
    p{
        font-style: normal;
        font-weight: bold;
        margin-bottom: 0;
    }
    a:not(.btn){
        color: $primary;
    }
    .convoy-info {
        & > div:first-child{
            border-right: 1px solid $primary;
        }
        img{
            width: 100%;
        }
    }
}
