// Public convoy
.convoy-title{
    color: $primary;
    @media (max-width: 576px){
        font-size: 30px;
    }
}
.convoy-info{
    li{
        flex-wrap: nowrap;
        p{
            margin-bottom: 0;
        }
        i{
            text-align: center;
        }
    }
    h2, h3, h4{
        color: $primary;
    }
    @media (max-width: 576px){
        h2{
            font-size: 25px;
        }
        h4{
            font-size: 16px;
        }
    }
}
.convoy-icon{
    border-left: 1px solid $primary-text;
    i{
        font-size: 40px;
        color: $primary;
        width: 45px;
        @media (max-width: 576px){
            font-size: 30px;
        }
    }
}

.route{
    img{
        max-width: 100%;
    }
}
.convoy-note{
    hr{
        width: 150px;
        border-top: 1px solid $primary;
    }
    p{
        font-style: italic;
    }
    ol, ul{
        li{
            color: $primary-text;
            margin-top: 10px;
            b{
                color: $primary;
            }
        }
    }
}
@media (max-width: 768px) {
    .ts-download{
        margin: 1rem 0;
    }
}

// Private convoys
.private-convoys{
    @media (min-width: 992px) {
        &.container{
            max-width: calc(100% - 160px);
            margin-right: 0;
            margin-left: 160px;
        }
    }
    .day{
        flex-wrap: nowrap;
        .date{
            @media (min-width: 992px) {
                margin-left: -160px;
                width: 125px;
                margin-right: 35px;
            }
            .past{
                color: $primary-text-darker;
            }
        }
        .day-convoys{
            margin: 0;
            align-items: center;
            flex-direction: column;
            @media (min-width: 992px) {
                border-left: $primary-text-darker 1px solid;
                &:not(.past){
                    border-left: $primary 1px solid;
                }
                padding-left: 35px;
            }
            .past{
                .card-header {
                    h5, a{
                        color: $primary-text-darker;
                    }
                }
                .convoy-main-info {
                    p, i, a, span{
                        color: $primary-text-darker;
                    }
                }
                .card-body, .markdown-content{
                    p, h1, h2, h3, h4, h5, h6, span, label, a, hr{
                        color: $primary-text-darker;
                    }
                }
            }
            .convoy-main-info{
                p, a{
                    margin: 0 1rem;
                    font-weight: bold;
                }
            }
            .card-body{
                h5, h3, a{
                    color: $primary;
                }
                .trailer-info{
                    @media (min-width: 1200px) {
                        border-left: 1px solid $primary;
                    }
                }
            }
        }
         h1, h2, h3, h4, h5, h6{
            margin-bottom: 0;
        }
    }
}
