// Convoys
.convoy-title{
    color: $primary;
    @media (max-width: 576px){
        font-size: 30px;
    }
}
.convoy-info{
    li{
        flex-wrap: nowrap;
        p{
            margin-bottom: 0;
        }
        i{
            text-align: center;
        }
    }
    h2, h3, h4{
        color: $primary;
    }
    @media (max-width: 576px){
        h2{
            font-size: 25px;
        }
        h4{
            font-size: 16px;
        }
    }
}
.convoy-icon{
    border-left: 1px solid $primary-text;
    i{
        font-size: 40px;
        color: $primary;
        width: 45px;
        @media (max-width: 576px){
            font-size: 30px;
        }
    }
}

.route{
    img{
        max-width: 100%;
    }
}
.convoy-note{
    hr{
        width: 150px;
        border-top: 1px solid $primary;
    }
    p{
        font-style: italic;
    }
    ol, ul{
        li{
            color: $primary-text;
            margin-top: 10px;
            b{
                color: $primary;
            }
        }
    }
}
@media (max-width: 768px) {
    .ts-download{
        margin: 1rem 0;
    }
}

// Admin convoys
.convoys{
    .day{
        flex-wrap: nowrap;
    }
    .convoys-day{
        width: 125px;
        @media (max-width: 768px){
            width: 100%;
        }
    }
    @media (min-width: 768px){
        .convoys-list{
            border-left: 1px solid $primary;
        }
    }
    span, p, label, h1, h2, h3, h4, h5, h6, a, small, button{
         &:not(.upcoming){
            color: $primary-text-darker;
        }
        a:hover, i.active{
            color: $primary-text;
        }
    }
}
.private-convoys{
    .accordion{
        .card-header{
            cursor: pointer;
            align-items: center;
            i.arrow{
                font-size: 20px;
                color: $primary-text;
                transition: .3s ease transform;
            }
            h4{
                overflow: hidden;
                text-overflow: ellipsis;
                @media (min-width: 768px) {
                    white-space: nowrap;
                }
                max-width: 86%;
            }
            &.active{
                i.arrow{
                    transform: rotate(180deg);
                }
            }
            &:not(.upcoming){
                h4, i.arrow{
                    color: $primary-text-darker;
                }
            }
        }
    }
    p{
        font-style: normal;
        margin-bottom: 0;
    }
    a:not(.btn){
        color: $primary;
    }
    .convoy-info {
        @media (min-width: 576px) {
            & > div:first-child{
                border-right: 1px solid $primary;
            }
        }
        img{
            width: 100%;
        }
    }
}
