// Google Font
@font-face {
    font-family: 'Google Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/GoogleSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Google Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/GoogleSans-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/GoogleSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GoogleSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/GoogleSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Google Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/GoogleSans-BoldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Ultralight.eot');
    src: local('Neue Machina Ultralight'), local('NeueMachina-Ultralight'),
    url('../fonts/NeueMachina-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NeueMachina-Ultralight.woff2') format('woff2'),
    url('../fonts/NeueMachina-Ultralight.woff') format('woff'),
    url('../fonts/NeueMachina-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Light.eot');
    src: local('Neue Machina Light'), local('NeueMachina-Light'),
    url('../fonts/NeueMachina-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NeueMachina-Light.woff2') format('woff2'),
    url('../fonts/NeueMachina-Light.woff') format('woff'),
    url('../fonts/NeueMachina-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Black.eot');
    src: local('Neue Machina Black'), local('NeueMachina-Black'),
    url('../fonts/NeueMachina-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NeueMachina-Black.woff2') format('woff2'),
    url('../fonts/NeueMachina-Black.woff') format('woff'),
    url('../fonts/NeueMachina-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Regular.eot');
    src: local('Neue Machina Regular'), local('NeueMachina-Regular'),
    url('../fonts/NeueMachina-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NeueMachina-Regular.woff2') format('woff2'),
    url('../fonts/NeueMachina-Regular.woff') format('woff'),
    url('../fonts/NeueMachina-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Bold.eot');
    src: local('Neue Machina Bold'), local('NeueMachina-Bold'),
    url('../fonts/NeueMachina-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NeueMachina-Bold.woff2') format('woff2'),
    url('../fonts/NeueMachina-Bold.woff') format('woff'),
    url('../fonts/NeueMachina-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Medium.eot');
    src: local('Neue Machina Medium'), local('NeueMachina-Medium'),
    url('../fonts/NeueMachina-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NeueMachina-Medium.woff2') format('woff2'),
    url('../fonts/NeueMachina-Medium.woff') format('woff'),
    url('../fonts/NeueMachina-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Ultrabold.eot');
    src: local('Neue Machina Ultrabold'), local('NeueMachina-Ultrabold'),
    url('../fonts/NeueMachina-Ultrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NeueMachina-Ultrabold.woff2') format('woff2'),
    url('../fonts/NeueMachina-Ultrabold.woff') format('woff'),
    url('../fonts/NeueMachina-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}




@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?35885132#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

i.fontello{
    line-height: 1;
    &.icon-evoque:before { content: '\e800'; line-height: 1; } /* '' */
    &.icon-trucksbook:before { content: '\e801'; line-height: 1; } /* '' */
}

