// Footer
footer{
    .container{
        border-top: 1px solid $primary;
    }
    .copyright{
        font-size: 12px;
    }
    .contacts{
        a{
            i{
                font-size: 30px;
            }
        }
    }
}
@media (max-width: 576px){
    footer{
        h2{
            font-size: 30px;
            margin-top: 1rem;
        }
    }
}
