// Helpers
.btn-outline-warning{
    color: $primary;
    border-color: $primary;
    &:hover{
        background-color: $primary;
        border-color: $primary;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active{
        background-color: $primary-darker;
        border-color: $primary-darker;
    }
}

.btn-warning{
    background-color: $primary;
    border-color: $primary;
    &:hover{
        background-color: $primary-lighten;
        border-color: $primary-lighten;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active{
        background-color: $primary-darker;
        border-color: $primary-darker;
    }
}
.card-dark{
    background-color: $background-lighten-2;
    border-color: $background-lighten-2;
}

@media (min-width: 768px){
    .position-md-fixed{
        position: fixed !important;
    }
}
ul, ol{
    &.list-style-none{
        list-style-type: none;
    }
}
.nowrap{
    white-space: nowrap;
    overflow: hidden;
}
ins{
    background-color: green;
    text-decoration: none;
}
del{
    background-color: red;
    text-decoration: none;
}
.no-del{
    del{
        display: none;
    }
}
.no-ins{
    ins{
        display: none;
    }
}
