// Helpers
.btn-outline-warning{
    color: $primary;
    border-color: $primary;
    &:hover{
        background-color: $primary;
        border-color: $primary;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active{
        background-color: $primary-darker;
        border-color: $primary-darker;
    }
}
.btn-warning{
    background-color: $primary;
    border-color: $primary;
    &:hover{
        background-color: $primary-lighten;
        border-color: $primary-lighten;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active{
        background-color: $primary-darker;
        border-color: $primary-darker;
    }
}
@media (min-width: 768px){
    .position-md-fixed{
        position: fixed !important;
    }
}
.nowrap{
    white-space: nowrap;
    overflow: hidden;
}
ins{
    color: $success;
    text-decoration: none;
}
del{
    color: $danger;
    text-decoration: none;
}
.no-del{
    del{
        display: none;
    }
}
.no-ins{
    ins{
        display: none;
    }
}
.box-shadow-none{
    box-shadow: none !important;
}
