// KB
.article-content{
    ol, ul{
        margin-left: 1rem;
        color: $primary-text;
    }
    blockquote{
        padding-left: 1rem;
        border-left: 2px solid $primary-text;
    }
    img{
        max-width: 100%;
    }
    a{
        text-decoration: underline;
        color: $primary;
    }
    hr{
        border-top-color: $primary-text-darker;
        margin: 1.5rem 0;
    }
}
