// Litepicker
:root {
    --litepicker-container-months-color-bg: #424242 !important;
    --litepicker-container-months-box-shadow-color: rgba(0,0,0,.12) !important;
    --litepicker-month-header-color: rgb(228, 197, 1) !important;
    --litepicker-button-prev-month-color-hover: rgb(228, 197, 1) !important;
    --litepicker-button-next-month-color-hover: rgb(228, 197, 1) !important;
    --litepicker-day-color: #fff;
    --litepicker-day-color-hover: rgb(228, 197, 1) !important;
    --litepicker-is-today-color: rgb(228, 197, 1) !important;
    --litepicker-is-in-range-color: #333 !important;
    --litepicker-is-locked-color: #727272 !important;
    --litepicker-is-start-color: rgb(47, 47, 47) !important;
    --litepicker-is-start-color-bg: rgb(228, 197, 1) !important;
    --litepicker-is-end-color: rgb(47, 47, 47) !important;
    --litepicker-is-end-color-bg: rgb(228, 197, 1) !important;
    --litepicker-button-reset-color-hover: rgb(228, 197, 1) !important;
}
