// Members
.members{
    .card{
        min-width: 230px;
        .member-links i{
            font-size: 25px;
        }
        .card-body{
            display: flex;
            flex-direction: column;
            .member-roles{
                flex: 1;
            }
        }
    }
    h2, .member-nickname{
        color: $primary;
    }
}

.members-table{
    table{
        font-size: 14px;
        td, th{
            position: relative;
            white-space: nowrap;
            text-align: center;
            vertical-align: middle;
            &.plate-img{
                width: 215px;
                img{
                    height: 46px;
                }
            }
            &.icon-link{
                padding-top: 10px;
                padding-bottom: 9px;
            }
            &.member-scores{
                .add-score{
                    display: none;
                    position: absolute;
                    left: 5px;
                    top: 10px;
                }
                &:hover .add-score{
                    display: block;
                    cursor: pointer;
                }
            }
        }
        i{
            font-size: 25px;
        }
    }
}
