// Members
.members{
    .card{
        min-width: 230px;
        .member-links i{
            font-size: 25px;
        }
        .card-body{
            display: flex;
            flex-direction: column;
            .member-roles{
                flex: 1;
            }
        }
    }
    h2, .member-nickname{
        color: $primary;
    }
}

.members-table{
    table{
        td, th{
            white-space: nowrap;
            text-align: center;
            &.plate-img{
                width: 228px;
                img{
                    height: 49px;
                }
            }
            &.icon-link{
                padding-top: 10px;
                padding-bottom: 9px;
            }
        }
        i{
            font-size: 25px;
        }
    }
}
