// Members
.members{
    .card{
        width: 270px;
        .member-links i{
            font-size: 25px;
        }
        .card-body{
            display: flex;
            flex-direction: column;
            .member-roles{
                flex: 1;
            }
        }
    }
    h2, .member-nickname{
        color: $primary;
    }
}

.members-table{
    table{
        font-size: 14px;
        td, th{
            position: relative;
            white-space: nowrap;
            text-align: center;
            vertical-align: middle;
            &.with-btn{
                position: relative;
                .reset-btn{
                    display: none;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    text-align: center;
                    line-height: 68px;
                    cursor: pointer;
                    z-index: 999;
                }
                span{
                    color: #fff;
                }
                &:hover{
                    span{
                        opacity: .4;
                    }
                    .reset-btn{
                        display: block;
                    }
                }
            }
            &.plate-img{
                width: 140px;
                img{
                    height: 30px;
                }
            }
            &.icon-link{
                padding-top: 10px;
                padding-bottom: 9px;
            }
            &.member-scores, &.member-money, &.member-convoys{
                .add-btn{
                    display: none;
                    position: absolute;
                    left: 5px;
                    top: 10px;
                }
                &:hover .add-btn{
                    display: block;
                    cursor: pointer;
                    &.disabled{
                        opacity: .1;
                        cursor: default;
                    }
                }
            }
        }
        i{
            font-size: 25px;
        }
        tbody th{
            background-color: #5C5428;
            color: $primary;
            padding: 0;
            font-size: 17px;
        }
    }
}
