// Modal
.modal-content-dark{
    background-color: $background;
    color: $primary-text;
    .close{
        &:focus{
            outline: none;
        }
        i{
            color: $primary-text;
        }
    }
    .modal-header{
        border-bottom-color: $background-lighten-2;
    }
    .modal-footer{
        border-top-color: $background-lighten-2;
    }
}
@media (min-width: 1140px) {
    .modal-xl{
        min-width: 70%;
    }
}
