.navbar-dark{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    .navbar-toggler{
        border: none;
        outline: none;
    }
    .navbar-nav{
        .nav-item{
            &.active{
                .nav-link{
                    color: $primary;
                }
            }
            .nav-link{
                color: $primary-text;
                &:hover{
                    color: rgba(255, 255, 255, 0.8);
                }
                &.avatar img{
                    width: 35px;
                    border-radius: 12%;
                    vertical-align: text-top;
                }
                &.avatar.dropdown-toggle::after{
                    display: none;
                }
            }
            .dropdown-menu{
                background-color: $background-lighten-2;
                .dropdown-item{
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $primary-text;
                    &:hover, &:focus{
                        outline: none;
                        color: rgba(255, 255, 255, 0.8);
                        background-color: $background-lighten-2;
                    }
                }
            }
        }
    }

    .navbar-brand{
        padding: 0;
        img{
            height: 40px;
        }
    }
}
