.navbar-dark{
    .navbar-toggler{
        border: none;
        outline: none;
    }
    .navbar-nav{
        .nav-item{
            &.active{
                .nav-link{
                    color: $primary;
                }
            }
            .nav-link{
                color: $primary-text;
                &:hover{
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }
    .navbar-brand{
        padding: 0;
        img{
            height: 40px;
        }
    }
}
