// Plans
.plans{
    table{
        tr{
            line-height: 1;
            td{
                vertical-align: middle;
                font-size: 20px;
                a.book-convoy{
                    cursor: pointer;
                }
                span{
                    width: 85px;
                }
                @media (max-width: 768px) {
                    font-size: 17px;
                }
            }
        }
    }
    .lead-rules{
        .feature{
            h1, h2{
                min-height: 80px;
            }
            p{
                font-size: 19px;
            }
        }
    }
}
