// Profile
.profile{
    .avatar{
        @media (min-width: 576px){
            border-right: 1px solid $primary;
        }
        img{
            width: 190px;
        }
    }
    .info{
        b{
            color: $primary;
        }
        .user-links i{
            font-size: 30px;
        }
    }
}
