// RP
.rewards-table, .members-table{
    .stage-1{
        color: pink;
    }
    .stage-2{
        color: orange;
    }
    .stage-3{
        color: yellow;
    }
    .stage-4{
        color: green;
    }
    .stage-5{
        color: magenta;
    }
    .stage-6{
        color: blue;
    }
    .stage-7{
        color: blueviolet;
    }
    .stage-8{
        color: red;
    }
}
