// RP reports
.rp-reports{
    .card{
        max-width: 550px;
        .card-header{
            flex-wrap: nowrap;
            .col.rp-title{
                max-width: 90%;
                h5{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .no-member{
                font-style: italic;
                font-size: 14px
            }
        }
        ol, ul{
            color: $primary-text;
            margin-left: 1.5rem;
        }
    }
}

// RP stats
td, th{
    &.stage-1{
        color: $success;
    }
    &.stage-2{
        color: $primary;
    }
    &.stage-3{
        color: $danger;
    }
    &.stage-4{
        color: #ca5e5e;
    }
    &.stage-5{
        color: $info;
    }
    &.stage-6{
        color: #1163bb;
    }
    &.stage-7{
        color: #1e2d84;
    }
    &.stage-8{
        color: #b0139b;
    }
}
