// Rules page
ul.rules{
    h1{
        &.paragraph-number{
            width: 150px;
            text-align: right;
            border-right: 1px solid $primary-text;
        }
        &.paragraph-title{
            line-height: 105px;
        }
        color: $primary;
    }
    .blockquote{
        margin-left: 150px;
        p{
            line-height: 35px;
            b, a, strong{
                color: $primary;
            }
        }
    }
}
@media (max-width: 768px){
    ul.rules {
        h1{
            &.paragraph-number {
                text-align: left;
                border-right: none;
            }
            &.paragraph-title{
                line-height: inherit;
            }
        }
        .blockquote{
            margin-left: auto;
            p{
                line-height: 35px;
            }
        }
    }
}
