// Tab
.member-set-scores{
    table{
        td{
            white-space: nowrap;
            .uncheck-scores{
                cursor: pointer;
            }
        }
    }
}
.tabs{
    .card{
        width: 400px;
        max-height: 550px;
        .card-body{
            overflow: hidden;
        }
    }
}
