// Tab
.member-set-scores{
    table{
        td{
            white-space: nowrap;
            .uncheck-scores{
                cursor: pointer;
            }
        }
    }
}
.tabs{
    .card{
        overflow: hidden;
        width: 400px;
        max-height: 550px;
        .card-header{
            flex-wrap: nowrap;
            .col.tab-title{
                max-width: 90%;
                h5{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .card-body{
            overflow: hidden;
        }
    }
}
