// Toast
.toast{
    &.toast-dark{
        background-color: hsl(0deg 0% 0% / 70%);
        color: $primary-text;
    }
    &.toast-warning .toast-header{
        background-color: $primary;
        color: $text-on-primary;
    }
    &.toast-success .toast-header{
        background-color: $success;
        color: #fff;
    }
    &.toast-danger .toast-header{
        background-color: $danger;
        color: #fff;
    }
    position: fixed;
    right: 60px;
    top: 60px;
    min-width: 300px;
    z-index: 9;
    button{
        outline: none;
    }
}
