// Bg colors
$background: #333333;
$background-lighten-1: #333333;
$background-lighten-2: #424242;
$background-lighten-3: #515151;

// Accent
$primary: rgb(228, 197, 1);
$primary-lighten: #ffe001;
$primary-darker: #bfa001;

// Text
$primary-text: #bbbbbb;
$primary-text-darker: #757575;
$primary-text-on-light: rgba(255, 255, 255, 0.1);
$text-on-primary: rgb(47, 47, 47);

$font-family-sans-serif: 'Google Sans', sans-serif;
