@import 'variables';

// reset
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: $font-family-sans-serif;
}

@import "~bootstrap/scss/bootstrap.scss";

// Fonts
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import 'fonts';

@import "aliases";

// Common
@import 'helpers';
@import "typography";
@import "navbar";
@import "footer";
@import "scrollbar";
@import "forms";
@import "navs";
@import "modal";
@import "table";
@import "cards";
@import "pagination";
@import "popovers";
@import "dropdown";

// Pages
@import "home";
@import "apply";
@import "rules";
@import "convoys";
@import "members";
@import "roles";
@import "users";
@import "applications";
@import "profile";
@import "rp";
@import "kb";
@import "tab";
@import "plans";
@import "markdown";
@import "gallery";
@import "litepicker";
